.contanier{
     width: 100%;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px;
}
.wraper{
     width: 100%;
}
.wraper button{
     border: none; 
     margin: 0px 10px;  
     padding: 4px;
     width: 60px;
}

.title{
display: flex;
justify-content: center;
gap: 30px;
}

.info{
     display: flex;
     margin-top: 25px;
}

.izjava{
     flex: 3;
     background-color: rgb(196, 242, 247);
     margin-right: 20px;
}

.namaz{
     flex: 1;
     background-color: rgb(196, 242, 247);
}



@media(max-width: 900px) {
     .contanier{
          padding: 0px;
     }
     .info{
          display: flex;
          flex-direction: column;
          gap: 17px;
          margin-top: 15px;
     }

}

@media(max-width: 450px) {
     .contanier{
          padding: 0px;
     }

     .wraper h1{
          font-size: 22px;
     }
     .info{
          display: flex;
          flex-direction: column;
          gap: 17px;
          margin-top: 15px;
     }
     
     .izjava{
          flex: 3;
          background-color: rgb(196, 242, 247);
          margin-right: 0px;
     }
     


}